.flex_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    position: relative;
    height: 36rpx;
    margin-left: 10rpx;
    margin-right: 0px;
    width: 36rpx;

    .color {
        color: $uni-color-primary;
        background-color: $uni-color-primary;
    }

    .txt {
        font-size: 34rpx;
        line-height: 44rpx;
        width: 100%;
        height: 100%;
        display: flex;
    }
}



.checkBorder {
    border: 1px solid #ecdee4;
}

.header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 3;

    .titleText {
        text-align: left;
        padding: 20rpx 20rpx;
        font-size: $uni-font-size-base;
        color: $uni-text-color;
        font-weight: bold;
        z-index: 20;
    }

    .title {
        height: 90rpx;
        padding: 0 32rpx;
        line-height: 90rpx;
        font-size: 30rpx;
        background-color: #f7f7f7;
        color: #606064;

        .iconclass {
            display: inline-block;
            margin: 0 12rpx;
            color: #D0D4DB;
            font-size: 28rpx;
        }
    }
}

.container-list {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 160rpx;
    padding-top: 220rpx;

    .common {
        background-color: #fff;
        border-bottom: 1px solid $uni-bg-color-grey;
        padding: 20rpx 30rpx;

        .content {
            display: flex;
            align-items: center;
            min-height: 60rpx;
            width: 100%;

            position: relative;
            font-size: 32rpx;

            .content-item {
                display: flex;
                position: relative;
                align-items: center;
                overflow: hidden;
                white-space: normal;
                word-wrap: break-word;
                word-break: break-all;
                text-overflow: ellipsis;
            }

            .right {
                color: #babdc3;
                font-size: 32rpx;
            }
        }

        .branch {
            display: flex;
            justify-content: space-between;
        }
    }

    .userGroup {
        padding: 10rpx;
        background: #f7f7f7;
    }

    .empty {
        color: #999999;
        text-align: center;
        padding: 20rpx 0;
    }
}

.active {
    color: $uni-color-primary !important;
}

.none {
    color: #666666;
}

.icon-selected {
    color: $uni-color-primary !important;
    font-size: 34rpx !important;
}

.icons {
    color: $uni-color-primary !important;
    font-size: 34rpx !important;
}

.inline-item {
    display: inline-block
}

.content-item {
    display: flex;
    position: relative;
    align-items: center;
}

.box_sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #fff;
    width: 100%;

    .sureBtn {
        color: #fff;
    }
}

.borderAdd {
    border: 2rpx solid #eaeaea;
    border-radius: 25rpx;
    width: 36rpx;
    height: 36rpx;
    background-color: #eaeaea;
}